hr{
    border: 20px solid #7F8755;
}
.flora{
    color: white;
    /* background-color: #57257C; */
    /* position: relative;
    text-align: center;
    overflow: hidden; */
    /* z-index: 1; */
}
.flora.row{
    /* background-color: #57257C; */

}
/* .content-box h2{
    position: relative;
    top:150px
} */
img.img-fluid{
height: 100%;
width: 100%;

}
.pb-4 h5{
    text-transform: lowercase;
}
.text-tile{  
color: white;
}
.col image{
    width: 100%;
}

.flora.ul{
    color: white;
    margin-bottom: 20px;
}

.flora.ul li{
    list-style-type:circle;
    margin-bottom: 10px;
}
.col-lg-5>h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
    
    
}

 .flora.li.decimal{
    list-style-type: decimal;
}
.flora.li.alpha{
    list-style-type: lower-alpha;
}
.contact-us-text-tile{
 border: 4px solid white;
 padding: 20px;
}